[Unit]
Description=Run the Starship dead-man's switch every 10 minutes
Requires=deadmans-switch.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min
Persistent=true

[Install]
WantedBy=timers.target
