[Unit]
Description=Run the Starship verification engine every 5 minutes
Requires=verification-engine.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true

[Install]
WantedBy=timers.target
